/*
Author: Carleigh Smith
Start Date: 4/20/2024
File Name: client.css
*/

/*CSS Reset*/
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section,
article, aside {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Begin style rules for mobile viewport*/
body{
    font-family: Montserrat, sans-serif;
    background: linear-gradient(to right, #575048,#8e8b86,#a79181,#d0a47f); }

/*Style rule for box sizing applies to all elements*/
* {
    box-sizing: border-box;
}

/*Begin style rules for mobile viewport*/
/*Style rules for header*/
header {
    height: 190px;
    padding-left: 20px;     
}

#ffc-logo img {
    position: absolute; 
    top: 20px; 
    left: 10px; 
    height: 150px; 
    width: 150px; 
    border-radius: 50%; 
    border: 2px solid #fff; 
}

img {
    width: 70%;  
    height: auto;  
    object-fit: cover;  
    border-radius: 8px; 
}

/*Style rules for hamburger menu*/
.mobile-nav a {
    color: #160c0c;
    font-family: 'Francois On', sans-serif;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
}

.mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}


.tablet-desktop, #menu-links {
    display: none;
}

/* Style rules for main content */
main{
    padding: 2%;
    font-size: 1.15em;
    font-family: "Roboto Slab", serif;
    background-image: url('../images/kace-rodriguez-p3OzJuT_Dks-unsplash.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.round {
    border-radius: 50%;
}


/* Style rules for footer content */
footer {
    padding: 1% 1%;
    margin: 0;
    display: flex;
    justify-content: center;  
    align-items: center;      
}

footer .copyright {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 2% 4%;
    float: left;
    width: 75%;
}

footer p a {
    color: #fff;
    text-decoration: none;
}


.social {
    float: right;
    width: 20%;
    padding: 2%;
}

.social img {
    width: 40px;
    height: auto;
}

.logo{
    margin-top: auto;
}
.logo img{ 
    width: 56px; 
    height: auto;
    border-radius: 50%;
}

h1 {
    font-size: 1.5em;
    color: #333; 
    text-align: center;
}

h2 {
    font-size: 1.4em;
    color: #333; 
    text-align: center;
}

h3 {
    color: #333; 
    font-size: 1.3em;
}

aside {
    text-align: center;
    background-color: #a79181;
    font-size: 1.2em;
    font-style: italic;
    color: #333; 
}

a:link {
    color: #333;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}

 a:visited{
    color: #624f4f; 
} 

 a:hover {
    color: white; 
    background-color: #3A3A3A; 
    border-radius: 5px; 
}

/* Define the grid container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 20px; 
    min-height:100vh;
    min-height:100svh;
}
  
/* Define the grid items */
.grid-item {
    background-color: #a79181;
    padding: 20px;
    text-align: center; 
}

#intro {
    text-align: center; 
}

/* Adjust spacing between links */
#intro a {
    margin: 15px 10px; 
}

#intro {
    margin-top: 50px;
}


/* Media Query for Tablet Viewport*/
@media screen and (min-width: 630px),print {  /*630px is starting breakpoint*/

    /*Tablet Viewport: Show tablet-desktop class, hide mobile class*/
    .tablet-desktop {
        display: block;
    }

    .mobile-nav {
        display: none;
    }

    #ffc-logo {
        display: none;
    }

    /* Tablet Viewport: Style rules for nav area */
    nav{
        position: fixed;
        z-index: 99;
        width: 100%;
        background: #242526;
    }
      
    nav .wrapper{
        position: relative;
        max-width: 1300px;
        padding: 0px 30px;
        height: 70px;
        line-height: 70px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .wrapper .logo a{
        color: #f2f2f2;
        font-size: 30px;
        font-weight: 600;
        text-decoration: none;
    }
      
    .wrapper .nav-links{
        display: inline-flex;
    }
    
    .nav-links li{
        list-style: none;
    }

    .nav-links li a{
        color: #f2f2f2;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        padding: 9px 15px;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    /* Tablet Viewport: Style rules for main content area */ 
    aside {
        text-align: center;
        font-size: 1.2em;
        font-style: italic;
        color: #333; 
    }

    .grid-container {
        grid-template-columns: 1fr 1fr; 
    }

    
 
} /*end media for min-width 630px*/

/* Media Query for Desktop Viewport */ 
@media screen and (min-width: 1015px),print {


    .tablet-desktop {
        display: block;
    }

    .mobile-nav {
        display: none;
    }
    
    #ffc-logo {
        display: none;
    }
    
    nav{
    position: fixed;
    z-index: 99;
    width: 100%;
    background: #242526;
    }

    /* Desktop Viewport: Style Rules for main content */
    main{
        clear: left;
    }

    h1, h2 {
        font-size: 1.8em;
        color: #333;
        text-align: center; 
    }

    footer img {
        left: 10px; 
        height: 100%; 
        width: 60px; 
    }

    footer .copyright {
        font-size:1em;
        text-align: center;
        color: #fff;
        padding: 2% 4%;
        float: left;
        width: 75%;
    }
     
    footer p a {
        color: #fff;
        text-decoration: none;
    }

   

}/* media query closing brace for desktop viewport */

/* Media Query for Large Desktop Viewports */
 @media screen and (min-width: 1921px) {
    #container {
        width: 1920px;
        margin: 0 auto;
    } 

 }
 /*media query closing brace for large desktop viewport */

/* Media Query for Print */
@media print {
    body {
        background-color: #fff;
        color: #000;
    }
}