/*
    Student Name: Carleigh Smith
    File Name: styles.css
    Date: 4/8/2024
*/ 

/*The footer styling*/
footer {
    background: #5472B2; 
    color: #000; 
    text-align: center; 
    padding: 10px; 
    border: 1px solid #000; 
    position: relative; 
    margin-top: 0; 
 }
 
 footer a {
    color: #000; 
    text-decoration: none; 
 }
 
 footer a:hover {
    color: #000;   
    background-color: #3e61ac;
    text-decoration: underline;
    
 }