/*Validated*/
/*Carleigh Smith
02/7/2024
styles.css*/

/*CSS RESET*/
/* a CSS reset style rule that sets the margin,
padding, and borders to zero for the following
selectors: body, header, nav, main, footer, img, h1, h3.*/
body, nav, main, footer, h1, h3, ul, div{
    margin: 0;
    padding: 0;
    border: 0;
}

/*Create a style rule for the body
selector that sets a background color value of #fefae0*/
body {
    background-color:#fdf0d5 ;  
}

img {
    max-width: 100%;
    display: block;
}

/*Begin style rules for mobile viewport*/
/*Style rules for header*/
header {
    text-align: centered;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #000; 
}

header img {
    margin: 0 auto;
}

/*Style rules for navigation area*/
/*Create a style rule for the nav selector that
sets the background color to #1d396d.*/
nav {
    background-color: #d4a373;
    padding: 1%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.5em;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    border-top: 1px solid #fff;
   ;
}

nav li:first-child {
    border-top: none;
    border-bottom: none;
}

nav li a {
    display: block;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Show mobile class, hide tablet-desktop class */
.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

.logo {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #d8d7d7;
   
}

/*Sets the basic align and font styles for the div about us*/
#aboutUs {
   font-size: 24px;
   text-align: center;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 5%;
   overflow: auto;
   
   
}

/*Sets the basic align and font styles for the div services*/
#services {
    font-size: 22px;
    text-align: center;
    overflow: auto;
    padding-left: 5%;
   padding-right: 5%;
    padding-bottom: 2em;
}
#services ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}
#services li {
    font-size: 30px;

}
#services dt{
    font-size: 30px;
    font-weight: bold;
}

/* Style rules for main content */
main {
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.15em;
    font-family: "Noto Serif", serif;
}

/*Sets the basic align and font styles for the div homepage*/
#homepage{
    font-size: 25px;
    text-align: center;
    overflow: auto;
    padding-left: 5%;
    padding-right: 5%;
}

/*Style rules for .tel-link content*/
.tel-link {
    background-color: hsl(0, 45%, 74%);
    padding: 1%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

/*Style rules for .tel-link anchor content*/
.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: inline-block;
}

/*Style rules for .hours content*/
.hours {
    margin-left: 10%;
    text-align: left;
   
}

/*Style rules for .pph content*/
.pph {
    margin-left: 10%;
    text-align: left;
}

/*Style rules for .action content*/
.action {
    font-size: 1.35em;
    color: #d4a373;
    font-weight: bold;
}

/*Sets the basic align and font styles for the div contact*/
#contact {
    text-align: center;
    text-decoration: none;
}


#contact .contact-email-link {
    color: #d4a373;
    text-decoration: none;
}

/*Style rules for .link content*/
.link {
    text-decoration: none;
    color: #432818
}

/*Style rules for .round content*/
.round {
    border-radius: 11px;
}

/* CSS external links */
.external-link {
    color: #d4a373;
    font-weight: bold;
    text-decoration: none ;
}

/*Style rules for .map content*/
.map {
    border: 2px solid #000;
    width: 95%;
    height: 50%;
}

/*Update the style rule for
the footer selector to clear
a float on the left.*/
footer {
    
    text-align: center;
    color: #432818;
    text-decoration: none;
    font-size: 1.1em;
    padding: 0 1em;
    background-color: #fdf0d5
    
}


/*Centers and sets style for footer text*/
footer a {
   
    text-align: center;
    color: #432818;
    text-decoration: none;
    background-color: #fdf0d5

   
}


