/*Validated*/
/*Carleigh Smith
02/7/2024
styles.css*/

/*CSS RESET*/
/* a CSS reset style rule that sets the margin,
padding, and borders to zero for the following
selectors: body, header, nav, main, footer, img, h1, h3.*/

body, header, nav, main, footer, img, h1, h3{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/*sets a max width to 100%. Also display image elements as a block.*/
img {
    max-width: 100%;
    display: block;
    padding-top: .5em;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

/*atleast 16 style rules*/

/*Create a style rule for the body
selector that sets a background color value of #fefae0*/
body {
    background-color:#fdf0d5 ;
    font-family: "Nunito", sans-serif;
}

/*Style rules for navigation area*/
/*Create a style rule for the nav selector that
sets the background color to #1d396d.*/
nav {
    background-color: #d4a373;
}
/*Create a style rule for nav ul that sets the list style
type to none, sets the margin to 0, and aligns text center.*/
nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}
/*Create a style rule for nav li that sets the display to an inline-block,
sets a font size of 1.5em, sets a font family
value of Verdana, Arial, sans-serif, and a font weight value of bold.*/
nav li {
    display: inline-block;
    font-size: 2em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}
/*Create a style rule for nav li a that sets the display
to a block, sets a font color value of #e3eaf8, sets top
and bottom padding values of 0.5em and left and right padding
values of 2em, and removes the text decoration.*/
nav li a {
    display:block;
    color: #e9edc9;
    padding-top: .5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;
}

/*Sets the basic align and font styles for the div about us*/
#aboutUs {
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 30px;
   text-align: center;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 5%;
   overflow: auto;
   
   
}
/*Sets the basic align and font styles for the div services*/
#services {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    text-align: center;
    overflow: auto;
    padding-left: 5%;
   padding-right: 5%;
    padding-bottom: 2em;
}
#services ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}
#services li {
    font-size: 30px;
    font-family: Verdana, Arial, sans-serif;

}
#services dt{
    font-size: 30px;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

/*Sets the basic align and font styles for the div homepage*/

#homepage{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
    text-align: center;
    overflow: auto;
    padding-left: 5%;
    padding-right: 5%;

}

/*Sets the basic align and font styles for the div contact*/
#contact { 
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 40px;
   text-align: center;
   overflow: auto;
   padding-bottom: 2em;
}
/*Sets the color and decoration of contact*/
#contact a {
    text-decoration: none;
    color: #6c584c;

}
/*Sets the font and weight of all heading 3s*/
h3{
    font-weight: bold;
    font-size: 50px
}
/*Sets the font and weight of all heading 2s*/
h2{
    font-weight: bold;
    font-size: 50px
}
/*Sets the font and weight of all heading 4s*/
h4 {
    font-weight: bold;
    font-size: 40px
}
h5 {
    font-weight: bold;
    font-size: 40px
}

/* CSS external links */

.external-link {
    color: #432818;
    font-weight: bold;
    text-decoration: none ;
}

/*Sets the header to the center and 40 pixels big*/
header {
    text-align: center;
    font-size: 40px;
    font-family: "Noto Serif", serif;
}

/*Update the style rule for
the footer selector to clear
a float on the left.*/
footer {
    clear: left;
    text-align: center;
    color: #432818;
    text-decoration: none;
    font-size: 30px;
}

/*Provides the line to make the website more aesthetic*/
#foot {
    border: solid 1px #9c6644;
    background-color: #b08968 ; 

}
/*Centers and sets style for footer text*/
footer a {
    clear: left;
    text-align: center;
    color: #432818;
    text-decoration: none;
    font-size: 30px;
}


