/*Validated*/
/*<!-- 	
	Student Name: Carleigh Smith
	File Name: Styles.css
	Date: 02/7/24
-->*/

/*CSS RESET*/
/*a CSS reset style rule that sets the margin, padding, and
borders to zero for the following selectors: body, header,
nav, main, footer, img, h1, h3.*/
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section,
article, aside ,audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Style rules for body and images*/
/*sets a background color value of #f6eee4*/
body {
    background-color: #f6eee4;
}

/*sets a max-width to 100% and displays images as a block*/
img, video {
    max-width: 100%;
    display: block;
}

/*Style rules for skip navigation link */
.skip {
    position: absolute;
    left: -999px;
}

.skip:focus {
    color: #fff;
    background-color: #2a1f14;
    text-decoration: none;
    padding: 0.5%;
    top: auto;
    left: auto;
    right: 1px;
    z-index: 1;
}

/*Style rules for mobile viewport*/
.mobile, .mobile-tablet {
    display: block;
}

/*Style rules to show mobile class and hide tab-desk class*/
.tab-desk, .desktop, #nav-links {
    display: none;
}

/*Style rules for header area*/
h1, h3 {
    padding: 2%;
    text-align: center;
}

/*Style rule for the h1 selector within the mobile class */
.mobile h1 {
    font-family: "Emblema One", system-ui;
    margin: 2% 0 0 3%;
}

/*Style rule for the h3 selector within the mobile class*/
.mobile h3 {
    font-family: "Lora", serif;
}

/*Style rules for navigation area*/
/*sets the background color to #2a1f14*/
nav {
    background-color: #2a1f14;
}


.mobile-nav a {
    color: #fff;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
}

.mobile-nav a.nav-icon {
    display:block;
    position: absolute;
    left: 0;
    top: 0;
    color: #f6eee4;
    padding: 2%;
}

.nav-icon div {
    height: 40px;
    width: 40px;
    color: #2a1f14;
}

/*Style rules for main content*/
/*sets the padding value to 2%*/
main{
    padding: 2%;
    /* font-family: Verdana, Arial, sans-serif; */
    font-family: "Lora", serif;
}

/*sets the font size value to 1.25em*/
main p{
    font-size: 1.25em;
}

/*sets the top padding value to 2%*/
main h3{
    padding-top: 2%;
}

/*sets the list style type value to square.*/
main ul{
    list-style-type: square;
}

video{
    margin:0 auto 4%;
}

/*sets the font color to #4d3319, removes the text
decoration, sets the font weight value to bold, and
sets the font style value to italic*/
.link{
    color:#4d3319;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

/* sets the font size to 1.75em, sets the font weight
value to bold, and aligns text center.*/
.action{
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

/*sets border radius so rounded photos*/
.round {
    border-radius: 6px;
}

aside {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 4px 4px 10px #c5a687;
}

figure {
    border: 4px solid #2a1f14;
    box-shadow: 6px 6px 10px #c5a687;
    max-width: 400px;
    margin: 2% auto;
}

figcaption {
    padding: 2%;
    border-top: 4px solid #3a1f14;
}

/*style rule for the #info ul selector*/
#info ul{
    margin-left: 10%;
}

/*Create a style rule for the id selector contact that aligns text center.*/
#contact, #form h2{
    text-align: center;
}

/*style rule for the tel-link class selector */
.tel-link {
    background-color: #2a1f14;
    padding: 2%;
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

/*style rule for the anchor selector within the tel-link class */
.tel-link a {
    color: #f6eee4;
    text-decoration: none;
    font-weight: bold;
}

#questions p {
    cursor: pointer;
}

#answer {
    text-align: center;
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
}

#answer h2 {
    display: none;
}


/*Style rules for form elements*/
fieldset,input,textarea {
    margin-bottom: 2%;
}

fieldset legend {
    font-weight: bold;
    font-size: 1.25em;
}

label {
    display: block;
    padding-top: 2%;
}

#submit {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 2%;
    background-color: #78593a;
    color: #f6eee4;
    font-size: 1.25em;
    border-radius: 10px;
}

/*Style rules for footer content*/
/*Create a style rule for the footer selector that aligns
text center, sets a font size value of 0.85em, sets a background
color value of #2a1f14, sets a font color value of #f6eee4, and
sets top and bottom padding values to 1% and right and left padding values to 0%.*/
footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #2a1f14;
    color:#f6eee4;
    padding-top:1% ;
    padding-bottom: 1%;
    padding-left: 0%;
    padding-right: 0%;
}

/* sets the font color value to #f3e6d8 and removes the text decoration*/
footer a {
    color: #f3e6d8;
    text-decoration: none;
}

.social {
    display: inline-block;
    padding: 4%;
}

/*Media Query for Tablet Viewport*/
@media screen and (min-width: 620px), print {

    /*Tablet Viewport: Show tab-desk class, hide mobile class */
    .tab-desk, .desktop {
        display: block;
    }

    .mobile, .mobile-nav {
        display: none;
    }
    /*Tablet Viewport: Style rules for nav area*/
    nav {
        display: block;
    }

    nav li {
        border-top: none;
        display: inline-block;
        font-size: 1.25em;
        font-family: Geneva, Arial, Sans-Serif;
        font-weight: bold; 
    }

    nav li a {
        padding: 0.5em;
        display: block;
        color: #f6eee4;
    }

    /*sets the list style type to none, sets the margin to 0,
    and aligns text center*/
    nav ul {
        list-style-type: none;
        text-align: center;
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }

    aside {
        grid-column: 1 / span 2;
    }

    /*Tablet Viewport: Style rule for form element*/
    form {
        width: 70%;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }

    /*Tablet Viewport: Style rules for footer area*/
    footer {
        overflow: auto;
    }

    .copyright {
        float: left;
        width: 65%;
    }

    .social {
        float: right;
        width: 25%;
    }
}   

/*Media Query for Desktop Viewport*/
@media screen and (min-width:1000px), print {

    /*Desktop Viewport: Style rules for nav area*/
    nav li {
        font-size: 1.5em;
    }

    nav li a {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    nav li a:hover {
        color: #2a1f14;
        background-color: #f6eee4;
        opacity: 0.5;
    }
    
    .desktop {
        display: block;
    }

    .mobile-tablet {
        display: none;
    }

    /*Desktop Viewport: Style rules for main content*/
    #info ul {
        margin-left: 5%;
    }

    .grid {
        /* display: grid; */
        grid-template-columns: auto auto auto;
        gap: 30px;
    }

    aside {
        grid-column: 1 / span 3;
        font-size: 2em;
    }

    /*Desktop Viewport: Style rules for form elements*/
    form {
        width: auto;
    }

    .form-grid {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }

    .btn {
        grid-column: 1 / span 2;
    }

    

    table {
        border: 1px solid #2a1f14;
        border-collapse: collapse;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: auto;
        margin-left: auto;
    }

    caption {
        font-size: 1.5em;
        font-weight: bold;
        padding: 1%;
    }

    th,td {
        border: 1px solid #2a1f14;
        padding: 1%;
    }

    th {
        background-color: #2a1f14;
        color: white;
        font-size: 1.15em;
    }

    tr:nth-child(odd) { 
        background-color: #deccba;
    }


}

/*Media Query for Large Desktop Viewports*/
@media screen and (min-width:1921px), print {
    body {
        background: linear-gradient(#f6eee4, #78593a);
    }

    #wrapper {
        width: 1920px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }

    main {
        background-color: #f6eee4;
    }

    .grid {
        /* display: grid; */
        grid-template-columns: auto auto auto auto;
    }

    aside {
        grid-column: 1 / span 4;
        font-size: 3em;
    }

}

/*Media Query for Print*/
@media print {
    body {
        background-color: white;
        color: black;
    }
}