/* Created by Carleigh Smith on 02/05/2024
   File: style.css *//* CSS reset */
    body, header, nav, main, footer, img, h1, h3, ul {
        margin: 0;
        padding: 0;
        border: 0;
    }
     